<% content_for :title, "Edit profile" %>

<div class="PageHeader">
  <div>
    <h1 class="PageTitle">Edit profile</h1>
    <p class="PageSubtitle">Update your public identity</p>
  </div>
  <div class="Pills">
    <%= link_to "Back", user_path(@user), class: "btn btn-ghost" %>
  </div>
</div>

<div class="Card CardPad">
  <%= render "form", user: @user %>
</div>
