<% content_for :title, "Edit post" %>

<div class="PageHeader">
  <div>
    <h1 class="PageTitle">Edit post</h1>
    <p class="PageSubtitle">Polish the title, link, and details</p>
  </div>
  <div class="Pills">
    <%= link_to "Back", post_path(@post), class: "btn btn-ghost" %>
  </div>
</div>

<div class="Card CardPad">
  <%= render "form", post: @post %>
</div>
