<% content_for :title, "Editant publicació" %>

<div class="edit-post container-lg">
  <div class="row">
    <div class="col-12 col-lg-6 offset-lg-3 mb-4">

      <h1 class="h4 mb-4">Editant publicació</h1>

      <%= render "form", post: @post %>

      <hr>
      <%= link_to "Mostrar", @post, class: "btn btn-outline-secondary btn-sm" %>
      <%= link_to "Tornar a Posts", posts_path, class: "btn btn-outline-secondary btn-sm" %>

    </div>
  </div>
</div>